.header {
  width: 100%;
  padding: 20px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.tab-header {
  text-transform: capitalize;
}

.brand {
  color: white;
}

.action-container {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.action {
  cursor: pointer;
}

.modal {
  position: fixed;
  right: 20px;
  top: 80px;

  width: 320px;
  max-height: 600px;
  overflow-y: scroll;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  z-index: 3;
}

.modal-section {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.modal-section:last-child {
  border-bottom: none;
}

.modal-section-header {
  color: gray;
  padding-bottom: 2px;
}

.modal-section-header:hover {
  color: black;
  cursor: default;
}

.modal-section-chart-container {
  margin: 10px 0;
}
